<Section class="slider-section">
    <div class="slider-wrapper">
        <div class="slider-imgs">
            <div style="background-image: url(images/students-in-lab-01.jpg)" class="slider-img"></div>
            <div style="background-image: url(images/assembl-01.jpg)" class="slider-img"></div>
            <div style="background-image: url(images/assemble-02.jpg)" class="slider-img"></div>
            <div style="background-image: url(images/img_12_ceremony.jpeg)" class="slider-img"></div>
            <div style="background-image: url(images/assemly-01.jpg)" class="slider-img"></div>
            <div style="background-image: url(images/a-level-01.jpg)" class="slider-img"></div>
            <div style="background-image: url(images/img_9_compound.jpeg)" class="slider-img"></div>
            <div style="background-image: url(images/img_3_compound.jpeg)" class="slider-img"></div>
            <div style="background-image: url(images/players-01.jpg)" class="slider-img"></div>
        </div>
        <div class="slider-overlay"></div>
        <div class="slider-info">
            <button class="slider-image-btn">APPLY NOW</button>
            <h1>WELCOME TO <br><span>THE THEATER OF ACCADEMICS</span></h1>
        </div>
    </div>
</Section>