<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- social media sharing meta tags-->
    <meta property="fb:app_id" content="123456787">
    <meta property="og:url" content="https://wisdom-high-school.campusweekly.com">
    <meta property="og:type" content="Wisdom high school">
    <meta property="og:title" content="Visit Wisdom high school-akalo">
    <meta property="og:image" content="https://wisdom-high-school.campusweekly.info/public/images/demo_logo.jpeg">
    <meta property="og:image:alt" content="Wisdom">
    <meta property="og:description" content="This is a short description">
    <meta property="og:site_name" content="Wisdom High School-Akalo">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="Aggi peter">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--font-awesome icons-->
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;1,600&family=Kanit:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
       <link
      rel="shortcut icon"
      href="./images/logo-01.jpg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="styling/style.css">
    <link rel="stylesheet" href="styling/nav.css">
    <!-- JavaScript -->
    <script src="script/script.js" defer></script>
    
    <!-- bootstrap-5 -->
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <title>Wisdom high school-Akalo</title>
</head>

    <body>
        {{{body}}}
    </body>

</html>