<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--font-awesome icons-->
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;1,600&family=Kanit:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="styling/style.css">
    <!-- JavaScript -->
    <script src="script/script.js" defer></script>
    <!-- bootstrap-5 -->
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <title>Gallary page</title>
</head>
<body>
    <!-- secondary Navbar start -->
    {{>secondarynavbar}}
    <!-- secondary Navbar end -->

    {{>navresponsive}}


    <div class="mainbody">
            <!--Slider Images Section Start Here -->
    {{>slidersection}}
    <!--Slider Images Section Ends Here -->

    <!--nav Section Start Here -->
    {{>header}}
    <!--nav Section Ends Here -->

    <!--the galary page starts here-->
    <div class="gal-container">
        <div class="gal-heading">
            <h2>Photo <span>Galary</span></h2>
        </div>
        <div class="box">
            <div class="wisdom">
                <div class="wis"> <img src="images/im1.jpeg" loading="lazy"></div>
               
                <div class="wis"><img src="images/im2.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im3.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im4.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im5.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im6.jpg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im7.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im9.jpg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im10.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im11.jpeg" loading="lazy"></div>
                
            </div>
            <div class="wisdom">
                <div class="wis"><img src="images/im12.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im8.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im13.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im14.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im17.jpg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im18.jpg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im19.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im20.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im15.jpeg" loading="lazy"></div>
                
            </div>
            <div class="wisdom">
                <div class="wis"><img src="images/im16.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im21.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im25.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im26.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im27.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im22.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im23.jpeg" loading="lazy"></div>
                
                <div class="wis"><img src="images/im24.jpeg" loading="lazy"></div>
                
            </div>
        </div>
    </div>
    <!-- google map codes starts here -->
    {{>googlemap}}
    <!-- google map code ends here -->

       <!--Footer Section Start Here -->
    {{>footer}}
    <!--Footer Section End Here -->
    </div>

    <script src="script/nav.js"></script>
</body>
</html>