<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/bootstrap.min.js">
    <link rel="stylesheet" href="w3css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styling/style.css">
    <!-- JavaScript -->
    <script src="script/script.js" defer></script>
    <title>games and sports</title>
</head>

<body>
      <!-- secondary Navbar start -->
    {{>secondarynavbar}}
    <!-- secondary Navbar end -->
    {{>navresponsive}}

 
    <div class="mainbody">
           <!--Slider Images Section Start Here -->
    {{>slidersection}}
    <!--Slider Images Section Ends Here -->

    <!--nav Section Start Here -->
    {{>header}}
    <!--nav Section Ends Here -->
    <div class="container-fluid bg-light">
        <div class="text-center">

            <h3 class="text-danger">Games and Sports.</h3><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Excepturi, vero? Labore </p>
        </div>
        <div class="">
           <div class="sports1">
                <div class="sp1"><img  class="g" src="images/g1.jpg">
                    <h2>Our football team</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quas corporis ea ipsam, aperiam consectetur molestias debitis neque quibusdam ipsa consequatur corrupti eaque ipsum, nihil laudantium, reiciendis eos saepe temporibus!</p>
                </div>
                <div class="sp2"><img class="g" src="images/g2.jpg">
                    <h2> Our netball team</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur esse necessitatibus repellat assumenda non inventore porro laborum a tempore, officiis consequatur nostrum ipsam, labore molestiae! Numquam aliquid debitis suscipit aut.</p>

                </div>

           </div>
           <div class="sports2">
                <div class="sp3"><img class="g" src="images/g3.jpg">
                    <h2>Our volleyball team</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsa provident sequi, saepe excepturi illo minus esse doloremque! Quia tempore vero dicta, accusantium distinctio laboriosam? Saepe tempora animi unde sunt?</p>
                </div>
                <div class="sp4"><img class="g" src="images/g4.jpg">
                    <h2>Our running team</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem similique non quas quia libero molestias in voluptatem facere ut reiciendis voluptatum sed beatae optio tenetur recusandae iusto, repellendus odit deleniti?</p>
                </div>

           </div>
        </div>
    </div>

    <!--Footer Section Start Here -->
    {{>footer}}
    <!--Footer Section End Here -->
    </div>
    <script src="script/nav.js"></script>
</body>

</html>