


    <!-- secondary Navbar start -->
    {{>secondarynavbar}}
    <!-- secondary Navbar end -->

    <!-- new secondary nav -->

   {{>navresponsive}}
   
    <!-- new secondary nav -->

    <!--Slider Images Section Start Here -->
  <div class="mainbody">
    {{>slidersection}}
    <!--Slider Images Section Ends Here -->

    <!--nav Section Start Here -->
    {{>header}}
    <!--nav Section Ends Here -->

     <!--welcome starts here-->
    <div class="home-cntr">
    <div class="content">
        <h3 class="wel_heading">Welcome</h3>
        <p>Wisdom High School (WHS) is a mixed "O" and "A" level christian boarding school. The school was founded in 2018 by some experienced teachers from the best performing schools in Kampala and Lango sub-region.....
            </p>
            <button type="button" class="wel_btn">Read more...</button>
    </div>
    <div class="image">
        <img src="images/kipande.jpg" alt="" loading="lazy">
    </div>

</div>
    <!--welcome ends here-->

    <!--News Section Starts Here -->
    <div class="news-events-container">
        <div class="news-container">
            <h1 class="h1-news">News</h1>
            <div class="news-items">
                <div class="news-item">
                    <div class="news-img">
                        <img src="images/notice.jpg" alt="" loading="lazy">
                    </div>
                    <h1>WISDOM HIGH COMMUNICATION IN REGARDS TO CANDIDATES RE-OPENING</h1>
                    <div class="date-comments">
                        <span>April 13, 2022</span>
                        <div><span>0</span> comments</div>
                    </div>
                    <p>Dear parents, guardians, students and all stakeholders. We thank God that has kept you safe amidst this current pandemic. Following…</p>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="images/a-level-01.jpg" alt="" loading="lazy">
                    </div>
                    <h1>A LEVEL ICT NOTES AND PAPERS</h1>
                    <div class="date-comments">
                        <span>April 13, 2022</span>
                        <div><span>0</span> comments</div>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, reprehenderit.</p>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="images/players-01.jpg" alt="" loading="lazy">
                    </div>
                    <h1>WISDOM HIGH SCHOOL FOOTBALL TEAM</h1>
                    <div class="date-comments">
                        <span>April 13, 2022</span>
                        <div><span>3</span> comments</div>
                    </div>
                    <p>The School engages in a variety of activities and football is one of the core-caricullar activities.</p>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="images/assemly-01.jpg" alt="" loading="lazy">
                    </div>
                    <h1>A LEVEL ICT NOTES AND PAPERS</h1>
                    <div class="date-comments">
                        <span>April 13, 2022</span>
                        <div><span>0</span> comments</div>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, reprehenderit.</p>
                </div>
           
                
            </div>
        </div>
        <div class="events-container">
            <h1 class="h1-events">Events</h1>
            <div class="event-items">
                <div class="event-item">
                    <div class="event-date">
                        <div class="event-logo">
                            <div class="event-month">OCT</div>
                            <div class="event-day">23</div>
                        </div>
                    </div>
                    <div class="event-info">
                        <h1>Admission Now Open</h1>
                        <p>Thank you for your interest in Wisdom High School,grab Admission before the available vacances get full<br> <a href="/apply">apply now</a></p>
                    </div>
                </div>
                <div class="event-item">
                    <div class="event-date">
                        <div class="event-logo">
                            <div class="event-month">OCT</div>
                            <div class="event-day">23</div>
                        </div>
                    </div>
                    <div class="event-info">
                        <h1>Wisdom High School performs highly again</h1>
                        <p>Get the full story wisdom high school best students of year 2021<br> <a href="/accademics">Read More</a></p>
                    </div>
                </div>
                <div class="event-item">
                    <div class="event-date">
                        <div class="event-logo">
                            <div class="event-month">OCT</div>
                            <div class="event-day">23</div>
                        </div>
                    </div>
                    <div class="event-info">
                        <h1>Visitation day for First term 2018</h1>
                        <p>Thank you for your interest in Wisdom High Schools, which…</p>
                    </div>
                </div>
                <div class="event-item">
                    <div class="event-date">
                        <div class="event-logo">
                            <div class="event-month">OCT</div>
                            <div class="event-day">23</div>
                        </div>
                    </div>
                    <div class="event-info">
                        <h1>Our Visitation day for First term 2018 will be on…</h1>
                        <p>Thank you for your interest in Wisdom High Schools, which…</p>
                    </div>
                </div>
                <div class="event-item">
                    <div class="event-date">
                        <div class="event-logo">
                            <div class="event-month">OCT</div>
                            <div class="event-day">23</div>
                        </div>
                    </div>
                    <div class="event-info">
                        <h1>Our Visitation day for First term 2018 will be on…</h1>
                        <p>Thank you for your interest in Wisdom High Schools, which…</p>
                    </div>
                </div>
                <div class="event-item">
                    <div class="event-date">
                        <div class="event-logo">
                            <div class="event-month">OCT</div>
                            <div class="event-day">23</div>
                        </div>
                    </div>
                    <div class="event-info">
                        <h1>Our Visitation day for First term 2018 will be on…</h1>
                        <p>Thank you for your interest in Wisdom High Schools, which…</p>
                    </div>
                </div>
                <div class="event-item">
                    <div class="event-date">
                        <div class="event-logo">
                            <div class="event-month">OCT</div>
                            <div class="event-day">23</div>
                        </div>
                    </div>
                    <div class="event-info">
                        <h1>Our Visitation day for First term 2018 will be on…</h1>
                        <p>Thank you for your interest in Wisdom High Schools, which…</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--News Section Ends Here -->
   
  
    <!-- vission mission corevalues starts here -->

    <div class="vission-mission-corevalues">
        <div class="sub-mvc mission">
            <h1 class="mission-h1">School Mission</h1>
            <p class="mission-p">To equip students with wisdom in <br>a human and christian environment</p>
        </div>
        <div class=" sub-mvc vission" style="height:5cm;">
            <h1 class="vission-h1">School Vision</h1>
            <p class="vission-p">To be a model school in the provision<br> of holistic education </p>
        </div>
        <div class="sub-mvc core-values">
            <h1 class="core-values-h1">Core-Values</h1>
            <p class="core-values-p">Godliness,excellency,perserverance<br> for success, discpline, cleanliness, <br>innovation and fraternity
            </p>
        </div>

    </div>

    <!-- vission mission core-valies -->

    <!-- google map codes starts here -->
    {{>googlemap}}

    <!-- google map code ends here -->

    <!--Footer Section Start Here -->
    {{>footer}}
    <!--Footer Section End Here -->
  </div>

    <script src="script/nav.js"></script>

