<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/bootstrap.min.js">
    <link rel="stylesheet" href="w3css.css">
    <link rel="stylesheet" href="styling/style.css">
    <!-- JavaScript -->
    <script src="script/script.js" defer></script>
    <title>Students life</title>
</head>

<body>

      <!-- secondary Navbar start -->
    {{>secondarynavbar}}
    <!-- secondary Navbar end -->
    {{>navresponsive}}

 <div class="mainbody">
        <!--Slider Images Section Start Here -->
    {{>slidersection}}
    <!--Slider Images Section Ends Here -->

    <!--nav Section Start Here -->
    {{>header}}
    <!--nav Section Ends Here -->

    <div class="container bg-light">
        <center>
            <h3>Students life</h3>
        </center>
        <div class="d-flex"> <img src="images/s1.jpg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium molestias ut repellat incidunt nulla sunt? Saepe, eum mollitia? Architecto quam
            </p>
        </div>
        <div class="d-flex mt-3 mb-3"><img src="images/s2.jpg">
            <p>culpa explicabo ipsa suscipit dolorem, magni earum deleniti doloremque sapiente</p>
        </div>

        <div class="d-flex mt-3 mb-3"> <img src="images/s3.jpg">
            <p>culpa explicabo ipsa suscipit dolorem, magni earum deleniti doloremque sapiente</p>
        </div>
        <div class="d-flex mb-2"><img src="images/s4.jpg">
            <p>culpa explicabo ipsa suscipit dolorem, magni earum deleniti doloremque sapiente</p>
        </div>
    </div>

    <!--Footer Section Start Here -->
    {{>footer}}
    <!--Footer Section End Here -->
 </div>

 <script src="script/nav.js"></script>
</body>

</html>