<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/bootstrap.bundle.js">
    <link rel="stylesheet" href="w3css.css">
    <link rel="stylesheet" href="styling/style.css">
    <!-- JavaScript -->
    <script src="script/script.js" defer></script>
    <title>Magazine</title>
</head>

<body>

      <!-- secondary Navbar start -->
    {{>secondarynavbar}}
    <!-- secondary Navbar end -->
    {{>navresponsive}}

    <div class="mainbody">
            <!--Slider Images Section Start Here -->
    {{>slidersection}}
    <!--Slider Images Section Ends Here -->

    <!--nav Section Start Here -->
    {{>header}}
    <!--nav Section Ends Here -->
    <div class="container-fluid bg-light text-center">
        <h1>The school magazine</h1>
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <img src="images/mg1 (1).jpg">
                </div>
                <div class="col-md-6">
                    <img src="images/mg1 (2).jpg">

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="images/mg1 (3).jpg">
                </div>
                <div class="col-md-6">
                    <img src="images/mg1 (4).jpg">
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <img src= "images/mg1 (5).jpg">

                </div>
                <div class="col-md-6">
                    <img src="images/mg1 (6).jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="images/mg1 (7).jpg">
                </div>
                <div class="col-md-6">
                    <img src="images/mg1 (8).jpg">

                </div>
            </div>

        </div>

    </div>

    {{>footer}}
    <!--Footer Section End Here -->
    </div>

    <script src="script/nav.js"></script>
</body>

</html>